.formContainer {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.email {
  width: 90%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff; /* Fundo branco para melhor legibilidade */
  color: #333; /* Texto preto */
}

.formTitle {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.formGroup {
  margin-bottom: 20px;
  /* width: 100%; */
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff; /* Fundo branco para melhor legibilidade */
  color: #333; /* Texto preto */
}

.formGroup label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #555;
  padding-top: 10px;
}

.formGroup input[type="text"],
.formGroup input[type="number"],
.formGroup select,
.formGroup textarea {
  width: 90%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff; /* Fundo branco para melhor legibilidade */
  color: #333; /* Texto preto */
}

.formGroup input[type="checkbox"] {
  margin-right: 8px;
}

.selectDropdown {
  margin-top: 5px;
}

.submitButton {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff; /* Azul para o botão */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #0056b3; /* Azul mais escuro no hover */
}

.formContainer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.formTitle {
  text-align: center;
  margin-bottom: 20px;
}

.message {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.message.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.message.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.loading {
  text-align: center;
  font-size: 16px;
  color: #007bff;
  margin-bottom: 20px;
}

/* .submitButton {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.submitButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
} */

