/* Hero Section */
.hero {
  display: flex;
  flex-direction: row;  /* Alinha os itens na horizontal */
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(170deg, hsl(0, 0%, 22%) 0%, hsl(0, 0%, 6%) 30%),
              url('/path/to/your/image.jpg') no-repeat center center;  /* Adiciona o gradiente e a imagem de fundo */
  color: #fff;
  padding: 60px 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin: -25px;
  text-align: left;  /* Alinha o texto à esquerda */
  background-size: cover; /* Faz a imagem de fundo ocupar toda a área */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -20px;
  text-align: left;
}

.nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #007bff;
}

.header h1 {
  font-size: 22px;
  font-weight: bold;
  color: #f3f3f3;
  display: flex;
  align-items: center;
}

.header h1::before {
  content: '';
  background-image: url(../../../public/home-icon-silhouette-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}


/* Ajustes adicionais para garantir o conteúdo da Hero section */
.heroText {
  max-width: 50%;  /* Limita o tamanho do texto */
}

.heroText h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.heroText p {
  font-size: 18px;
  margin-bottom: 2rem;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.statItem {
  text-align: center;
}

.statNumber {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
}

.statNumber span {
  color: #FF6F61; /* Highlight color for the numbers */
}

.statText {
  font-size: 16px;
  color: #aaa;
}

.exploreButton {
  background-color: #FF6F61;
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.exploreButton:hover {
  background-color: #d85947;
}

.heroImage {
  max-width: 45%;  /* Ajuste da imagem para não ocupar muito espaço */
  position: relative;
}

.heroImage img {
  border-radius: 15px;
  width: 100%; /* Garante que a imagem ocupe toda a largura disponível */
}

/*========================= RESPONSIVE STYLES =========================*/

/* For small devices */
@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;  /* Muda para coluna em telas menores */
    text-align: center;
    padding: 40px 20px;
    margin: 0;
    margin-top: -10px;
  }

  .heroText {
    max-width: 100%;
  }

  .heroImage {
    margin-top: 20px;
    max-width: 80%;
  }

  .heroText h1 {
    font-size: 32px;
  }

  .heroText p {
    font-size: 16px;
  }

  .stats {
    flex-direction: column;
    align-items: center;
  }

  .statItem {
    margin-bottom: 15px;
  }
}

/* For large devices */
@media screen and (min-width: 1020px) {
  .hero {
    padding: 60px 50px;
  }

  .heroText h1 {
    font-size: 60px;
  }

  .heroText p {
    font-size: 20px;
  }

  .stats {
    gap: 50px;
  }

  .heroImage {
    max-width: 600px;
  }
}
